[submodule "imgui"]
	path = imgui
	url = git@github.com:ocornut/imgui
	branch = docking
[submodule "dawn"]
	path = dawn
	url = git@github.com:google/dawn
[submodule "dr_libs"]
	path = dr_libs
	url = git@github.com:mackron/dr_libs.git
[submodule "implot"]
	path = implot
	url = git@github.com:epezent/implot.git
[submodule "implot3d"]
	path = implot3d
	url = git@github.com:brenocq/implot3d
